@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');

:root{
  --primary-white:#fff;
  --primary-orange: #f9ab00;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body{
  font-family: 'Encode Sans SC', sans-serif !important;
}

/******************** Navbar ***********/
.logo{
  width: 4rem;
}

.navbar{
  z-index: 2;
}

.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;  
  color: var(--primary-white) !important;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-bottom: 0.1875rem solid black;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
}

.nav-link:hover{
  border-bottom: 0.1975rem solid darkorange;
}

/****************Header *******************/

.header-wraper{
  position: relative;
  background: rgba(0, 0, 0, 0.6) url(./images/computer.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  background-blend-mode: darken;  
}


.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.main-info h1{
  color: var(--primary-orange);
  font-size: 3rem;
}

@media(max-width:768px){
  .main-info h1{
    font-size: 2rem;
  }

  .typed-text{
    font-size: 1.5rem !important;
  }
}

.typed-text{
  color: var(--primary-white);
  font-size: 2rem;
}

.btn-main-offer{
  border: 1px solid var(--primary-orange);
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;
}

.btn-main-offer:hover {
  background-color: var(--primary-orange);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}

.tsparticles-canvas-el{
  position: absolute;
  z-index: 1;
}

@media (max-width:768px){
  .tsparticles-canvas-el{
    display: none;
  }
}