@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');

:root{
  --primary-white:#fff;
}

body{
  font-family: 'Encode Sans SC', sans-serif !important;
}

/******************** Navbar ***********/
.logo{
  width: 4rem;
  
}

.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;  
  color: var(--primary-white) !important;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-top: 0.1875rem solid black;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
}

.nav-link:hover{
  border-top: 0.1975rem solid darkorange;
}
